/*Master style */
body{
    margin: 0px; 
    padding-right: 0%;
    background-color:gray;
    overflow-x: hidden;

}

.container{
    display:block;
    



}
.image-container{
background-position: centre;
margin-right: 2%;
margin-left: 2%;


}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    font-style:oblique
}
.left-side{
    display: flex;
}
.nav-wrapper > .left-side > div{
margin: 20%;
font-size: 0.9em;
text-transform: uppercase;
}
.nav-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;

}

.nav-link-wrapper:hover{
    text-decoration: underline;
}
h1{
    display: flex;
   justify-content: center;
   font-style: inherit;
   color: rgb(31, 31, 194);
}
.paragraph-wrapper{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flexbox;
    justify-content: left;
    
}
.image{
    margin-left: 1%;
}


strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(95, 95, 252);
    font-weight: 800;
}

ul{
    color:rgb(33, 11, 236)
}
.songs-1{
background-position: center;
height: 200px;
width:45%;
overflow: auto;
color:rgb(35, 26, 161)

}
.songs-2{
    background-position: center;
    height: 200px;
    width: 46%;
    overflow: auto;
    color: rgb(40, 40, 126);

}
.songs-wrapper{
    display: flex;

}
.flex-icon{
    margin-right:  20%;
    display: flex;
   justify-content: center;
}


 

