/*Master style */
body{
    margin: 0px; 
    padding: 0px;
    background-color:gray;
}

.container{


}
.image-container{
    background-position: cover;
    margin-left: 450px;

  
}

/*nav styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    font-style:oblique
}
.left-side{
    display: flex;
}
.nav-wrapper > .left-side > div{
margin: 20%;
font-size: 0.9em;
text-transform: uppercase;
color: gold;
}
.nav-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
color: gold;
}
a{
    text-decoration: gold;
}
.nav-link-wrapper:hover{
    text-decoration: underline;
}
h1{
    display: flex;
   justify-content: center;
   font-style: inherit;
   color: rgb(31, 31, 194);
}
paragraph-wrapper{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(95, 95, 252);
    font-weight: 800;
}

ul{
    color:rgb(33, 11, 236)
}
.songs-wrapper{
background-position: left;
height: 200px;
width: fit-content;
overflow: auto;
border:50px;
padding-right: 2%;




}

